<!DOCTYPE html>
<html>
  <body>
    
  <div>
<h4 style="text-align:center">Application Form </h4>

<form method="post" action="/job/{{job['id']}}/apply" > 
  <div class="mb-2">
  <label>Full Name</label><br>
  <input type= "text" name="full_name">
</div>
  
  <div class="mb-2">
  <label> Email</label><br>
  <input type="text" name="email" placeholder="abc@gmail.com">
  </div>
  
   <div class="mb-2">
  <label> LinkedIn URL</label><br>
  <input type="text" name="linkedin_url" placeholder="https://linked.com/in/abc@">
  </div>

  <div class="mb-2">
  <label> Education</label><br>
  <textarea name="education"></textarea>
  </div>
  
   <div class="mb-2">
  <label> Work Experience </label><br>
  <textarea name="work_experience"></textarea>
  </div>

  <div class="mb-2">
  <label> Resume URL </label><br>
  <input name="resume_url">
  </div>
  
  <input type="submit" value="submit" >
  
</form>
    </div>
  </body>
</html>