!DOCTYPE html>
<html>
<head>
<title> Application Submitted </title>
  {% include 'bootstrap.html'%} 
</head>
<body>
  {% include 'navbar.html'%} 
   <div class="container" >

  <h1 class="text-center mt-2 mb-4 ">NNF MERCANTILE.PVT LTD</h1>

     {% include 'banner.html'%} 

   
    <div class="mb-3 d-flex justify-content-center">
    <p class="display-4">
        Your Application for The Role of <b>"{{job['title']}}"</b> at NNF has been Submitted!
      </p>
    </div>


    <div class="container ">
        <div class="row align-items-center ">
            <div class="col-sm-4 mb-3">
              <b>Full Name </b>
            </div>
         
         <div class="col">   {{application['full_name']}} </div>
          </div>
        
      
          <!-- email  -->

         
            <div class="row align-items-center ">
                <div class="col-sm-4 mb-3">
                    <b>Email</b>
                </div>
             
             <div class="col">{{application['email']}}</div>
              </div>
              


          

          <!-- LinkedIn URL -->  
          
            <div class="row align-items-center ">
                <div class="col-sm-4 mb-3">
                    <b>LinkedIn URL</b>
                </div>
             
             <div class="col">{{application['linkedin_url']}}</div>
              </div>
              

      
              <!-- Education -->

              
                <div class="row align-items-center ">
                    <div class="col-sm-4 mb-3">
                        <b>Education</b>
                    </div>
                 
                 <div class="col"> {{application['education']}}</div>
                  </div>
                  
                <!-- Work Experience -->

              
                    <div class="row align-items-center ">
                        <div class="col-sm-4 mb-3">
                            <b>Work Experience </b>
                        </div>
                     
                     <div class="col"> {{application['work_experience']}}</div>
                      </div>
                      

                 <!-- Resume URL  -->   
                 
                    <div class="row align-items-center ">
                        <div class="col-sm-4 mb-3">
                            <b>Resume</b>
                        </div>
                     
                     <div class="col">  {{application['resume_url']}}
                    </div>
                      </div>
                      
         </div>
   </div>


  
         <div>
    <h1 class="display-3" style="color:rgb(188, 61, 61);"> Thank you !!!</h1>
    <p class="display-4" style="color:#6944a6;"> All The best for a job interview.......</p>
         </div>
   {% include 'footer.html'%}

</body>
</html>