
<div class="container">
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
       <li class="nav-item"><a href="mailto:cnc@gmail.com?subject=Question%20about%20jop%20opening&body=%20My%20Name%3A%3Cyour%20name%20here%3E%0D%0AMy%20question%3A%3Center%20question%20here%20%3E" class="nav-link px-2 text-muted">Contact us</a></li>
    </ul>
    <p class="text-center text-muted">&copy; 2022 copyright, NNF</p>
  </footer>
</div>