<!DOCTYPE html>
<html>
<head>
<title>job</title>
  <style>
    h1,h2{
      font-size: 40px;
      font-family: roboto;
      font-weight: normal;
      text-align: center;
    }
    p{
      font-family: roboto;
      font-weight: normal;
      text-align: center;
    }
    #img{
      width: 80%;
      height: 250%;
      object-fit : cover;
    }
    #container {
      max-width:720px;
      margin: 0 auto;
      
    }
  </style>
  
</head>
  
<body>
  
  <div id="container">
    
  
  <h1>NNF MERCANTILE.PVT LTD</h1>
 
    <img  id="img" src="https://careerswebsite.chetanchoudhari.repl.co/static/banner4.jpg" alt="coal">

  <h2> About NNF Mercantile </h2>
  <P>
    hello there, you'll learn about the job opening at NNF Mercantile Here.
  </P>
  <h2> Open Position </h2>
  <p>
    TODO - Show the jobs here 
  </p>
  <button> Contact Us </button>
 </div>
</body>
</html>