<!DOCTYPE html>
<html>
<head>
<title>{{job.title}} - NNF </title>
     {% include 'bootstrap.html'%} 
</head>
<body>
  
  {% include 'navbar.html'%} 
  
    {% include 'banner.html'%} 
 
  <div class="container" >
    
 
    
  <div class="text-center mt-4 mb-4 "> 

  <h2 style="text-align:center"> About NNF Mercantile </h2> <br>
   
</div>
 
  <h3 class="mb-2"> JOB TITLE :- {{job.title}}</h3>
 
  <h4> Location</h4>
  <p class="lead mt-0"> {{job.location}}</p>
  <div>
  <h4> Responsibilities</h4>
    <ul>
      {% for line in job.responsibities.split('\\n') %}
         <li> {{line}} </li>
      {% endfor %}
    </ul>
  </div>
    <div>
  <h4> Requirements</h4>
    <ol>
       {% for line in job.requirement.split("\n") %}
         <li>{{line}}</li>
      {% endfor %}
    </ol>
    </div>
  
    <h4> salary </h4>
  <p> {{ job.currency}} {{ job.salary}}</p> 

    {% include 'app_form.html'%}
    
  </div>
  {% include 'footer.html'%}
  
</body>
</html>